@using MVCApplication.Models
@model CategoryViewModel
<button class="btn btn-success" data-toggle="modal" data-target="#addNewCategory">
    <i class="fas fa-plus">&nbsp;Thêm thể loại mới</i>
</button>
<div class="card">
    <div class="card-header">
        <div class="row row-header">
            <div class="col col-lg-9">
                Quản lý thông tin thể loại
            </div>
            <div class="col col-lg-3">
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-2 small" placeholder="Tìm kiếm ..."
                               aria-label="Search" aria-describedby="basic-addon2" asp-for="SearchString">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        Mã thể Loại
                       
                    </th>
                    <td>
                        Tên thể loại 
                        
                    </td>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var category in Model.categories)
                    {
                        <tr>
                            <td>@category.id</td>
                            <td>@category.categoryName</td>
                            @if (category.status == true)
                            {
                                <td style="color:green">Hiện có</td>
                            }
                            else
                            {
                                <td style="color:red">Không có</td>
                            }

                            <td class="btn-group btn-block btn-lg">
                                <button class="btn btn-warning" data-toggle="modal" data-target="#modalIdCategory"
                                        onclick="CreateModal('@Url.Action("Details","Category",new {id = category.id})')">
                                    Details
                                </button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#modalIdCategory"
                                        onclick="CreateModal('@Url.Action("Delete","Category",new { id = category.id })')">
                                    Delete
                                </button>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @{
        var prevDisabled = !Model.categories.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.categories.HasNextPage ? "disabled" : "";
    }
    <div class="card-footer" style="text-align:center">
        <a class="btn btn-default @prevDisabled" asp-route-sortOrder="@Model.SortOrder"
           asp-route-searchString="@Model.SearchString"
           asp-route-pageIndex="@(Model.categories.PageIndex -1)">Previous</a>
        <a class="btn btn-default @nextDisabled" asp-route-sortOrder="@Model.SortOrder"
           asp-route-searchString="@Model.SearchString" asp-route-pageIndex="@(Model.categories.PageIndex +1)">Next</a>
    </div>
</div>

<!-- Add new Author Modal-->
<div class="modal fade" id="addNewCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Thêm một thể loại mới
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form" asp-controller="Category" asp-action="Create">
                    <div class="form-group">
                        <label for="AuthorName">Tên thể loại</label>
                        <input type="text" value="" id="CategoryName" class="form-control"
                               asp-for="@Model.category.categoryName" />
                    </div>
                    <div class="form-group" style="text-align:center">
                        <button class="btn btn-dark" data-dismiss="modal">Hủy</button>
                        <button class="btn btn-success" type="submit">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modalcreate" id="modalIdCategory" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content model-create" id="modelContent">
        </div>
    </div>
</div>
